.container, .inputField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1120px;
  margin: 2rem auto;

  h1 {
    text-transform: uppercase;
  }

  button {
    padding: .5rem 1rem;
    border: 0;
    width: 250px;
    border-radius: .25rem;
    background: var(--teal);
    color: var(--white);
    transition: opacity ease-in .2s;

    &:hover {
      opacity: .8;
    }
  }
}

.inputField {
  margin: 1.5rem 0;

  input {
    margin: .2rem 0;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 0 .25rem;
    height: 30px;
    width: 500px;
  }
}

.errors {
  margin-bottom: 1rem;

  span {
    font-weight: bold;
    color: var(--red);
  }
}

@media screen and (max-width: 580px) {
  .container {
    button { 
      width: 150px;
    }
  }

  .inputField {
    input {
      width: 250px;
    }
  }
}