* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-main: #D1411E;
  --gray-main: #777;
}

html {
  @media (max-width: 1000px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

body {
  font-family: 'Roboto Flex', sans-serif;
}

button {
  cursor: pointer;
}

[disable] {
  cursor: not-allowed;
}