.container {
  display: flex;
  padding: 0 5rem;
  padding-top: 3rem;

  .imgContainer {
    position: relative;
    height: 80px;
    width: 80px;
    margin: auto;
  }

  table {
    flex: 3;
    width: 100%;
    border-spacing: 1.25rem;
  }
}