.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: lighter;
    text-align: center;
  }

  .container {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    border-radius: .25rem;
    padding: 2.5rem 0;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: .5rem 0;
      padding: 0 5rem;
      width: 100%;

      label, input, textarea {
        width: 100%;
      }

      label {
        margin: .5rem 0;
      }
      
      input {
        height: 40px;
      }

      textarea {
        resize: none;
      }
    }

    button {
      margin-top: 1rem;
      border-radius: .25rem;
      border: 0;
      padding: .8rem 1.25rem;
      color: var(--white);
      background: var(--teal);
      transition: filter ease-out .2s;

      &:disabled {
        filter: opacity(.5)
      }
    }
  }
}